@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* sidebar image */
.sidebar {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: none;
}

.sidebar .bgimg {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}
/* Main content */
.main {
  margin-left: 40%;
  height: 100%;
}

/* header content */
.header-content {
  padding: 20%;
  text-align: center;
}
.header-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
.header-content p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
}
.header-content button {
  background-color: DodgerBlue;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}
.header-content button .btn{
    margin-left: 10px; 
}
.header-content button:hover{
    background-color: RoyalBlue;
}

/* Portfolio Content */
