@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* Open Nav Icon */
.openNavIcon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  font-size: 50px;
  background-color: white;
  padding: 10px;
}
.openNavIcon:hover {
  background-color: #757575;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* sidebar image */
.sidebar {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: none;
}

.sidebar .bgimg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
/* Main content */
.main {
  margin-left: 40%;
  height: 100%;
}

/* header content */
.header-content {
  padding: 20%;
  text-align: center;
}
.glow {
  color: #fff;
  background-color: black;
  animation: glow .5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #141414,
      0 0 40px #141414, 0 0 50px #141414, 0 0 60px #141414, 0 0 70px #141414;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #8bb8f3, 0 0 40px #8bb8f3,
      0 0 50px #8bb8f3, 0 0 60px #8bb8f3, 0 0 70px #8bb8f3, 0 0 80px #8bb8f3;
  }
}
.header-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
.header-content p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
}
.header-content .bgimg {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  display: none;
  margin-top: 30px;
}
.header-content button {
  background-color: DodgerBlue;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}
.header-content button .btn {
  margin-left: 10px;
}
.header-content button:hover {
  background-color: RoyalBlue;
}

/* Portfolio Content */
.portfolio {
  margin: 15px;
}
.portfolio h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  color: #757575;
}
.portfolio hr {
  color: #757575;
  opacity: 0.3;
  margin: 10px;
}
.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  text-align: center;
}
.portfolio .column {
  flex: 35%;
  padding: 0 4px;
}
.portfolio .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .portfolio .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* About */
.about {
  margin: 15px;
}
.about h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  color: #757575;
}
.about hr {
  color: #757575;
  opacity: 0.3;
  margin: 10px;
}
.about p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 15px;
  color: #757575;
}
.myskills {
  margin: 15px;
}
.myskills h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  color: #757575;
}
.myskills .progressbar-heading {
  margin: 15px;
}
.myskills .progressbar-heading h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  color: #757575;
}
#myProgress {
  width: 100%;
  background-color: #f1f1f1;
}

#myBar1 {
  width: 80%;
  height: 30px;
  background-color: #616161;
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar2 {
  width: 70%;
  height: 30px;
  background-color: #616161;
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar3 {
  width: 90%;
  height: 30px;
  background-color: #616161;
  text-align: center;
  line-height: 30px;
  color: white;
}
.myskills button {
  background-color: #616161;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}
.myskills button:hover {
  background-color: #757575;
}
.myskills button .btn {
  margin-left: 10px;
}

/* section counter */
/* Float four columns side by side */
.section-counter {
  margin: 15px;
}
.section-counter .column {
  width: 35%;
  padding: 5px 5px;
}

.section-counter .row {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

/* Clear floats after the columns */
.section-counter .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 900px) {
  .section-counter .row {
    display: block;
    margin-bottom: 10px;
  }
  .section-counter .column {
    text-align: center;
    width: 100%;
  }
}

/* Style the counter cards */
.section-counter .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.section-counter .fa {
  font-size: 50px;
}

/* Reputation */
.reputation {
  margin: 15px;
}
.reputation h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  color: #757575;
}
.reputation .container {
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.reputation .container::after {
  content: "";
  clear: both;
  display: table;
}

.reputation .container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.reputation .container span {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-right: 15px;
}
.reputation .container p {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: #757575;
}

@media (max-width: 900px) {
  .reputation .container {
    text-align: center;
  }
  .reputation .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
/* price section */
.price-section {
  margin: 15px;
  padding-top: 30px;
}
.price-section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
  color: #757575;
}
.price-section .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.price-section .column {
  flex: 20%;
}

.price-section .price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price-section .price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price-section .price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price-section .price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price-section .price .grey {
  background-color: #eee;
  font-size: 20px;
}

.price-section .button {
  background-color: #616161;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 900px) {
  .price-section .column {
    flex: 100%;
  }
}

/* form section */
.contact {
  margin: 15px;
  padding-top: 30px;
}
.contact h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
  color: #757575;
}

.contact .container [type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
.contact .container [type="email"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.contact .container input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.contact .container input[type="submit"]:hover {
  background-color: #616161;
}

/* Add a background color and some padding around the form */
.contact .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 15px;
}

.footer {
  background-color: #f1f1f1;
  color: #757575;
  padding: 50px;
}
.footer .icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.footer p {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .sidebar .bgimg {
    display: none;
  }
  .main {
    margin-left: 0;
  }
  .header-content .bgimg {
    display: block;
  }
}
